:root{
	font-family:Cambria;
	font-size:14pt;
	margin-left:10%;
	margin-top:5%;
	background-color:maroon;
	color:aqua;
	line-height:3rem;
}
header{
	text-align:center;
}
fieldset{
	width:60%;
}